<div class="container">
  <div class="mt-3">
    <div class="form-inline my-2 my-lg-0">
      <div class="form-group">
        <select class="form-control" #searchType (change)="onSelected(searchType.value)">
          <option value="" selected>Select Search Type</option>
          <option value="title">Book title</option>
          <option value="author">Author name</option>
        </select>
      </div>
      <input class="form-control mr-sm-2 ml-sm-2" type="search" placeholder="Search" [(ngModel)]="title" (ngModelChange)="search()">
    </div>
  </div>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <!-- <th scope="col">Cover Image</th> -->
        <th scope="col">ISBN</th>
        <th scope="col">{{'Book Title'|uppercase}}</th>
        <th scope="col">{{'Price'|uppercase}}</th>
        <th scope="col">{{'Author(s)'|uppercase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of result; let i = index" class="subject-details">
        <th scope="row">{{ i + 1 }}</th>
        <!-- <td><img class="img-fluid img-thumbnail" src="{{'http:\\localhost\\book_store\\storage\\app\\public\\books\\'+item.cover_image}}" alt="" ></td> -->
        <td>{{item.isbn}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price | currency:'LKR':'symbol-narrow':'4.2-2' }} </td>
        <td>{{item.author}}</td>
      </tr>

    </tbody>
  </table>
</div>
